/*----- da eliminare ------*/
html,
body {
  overflow: visible;
}

@import url(https://www.power.flexyscore.net/dirette/temp/css/schema.css);
/*----- classi comuni ------*/
* {
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  margin: -1px;
}
.container {
  display: grid;
  color: white;
}
.box,
.space {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  -webkit-transform: skew(15deg, 0);
  transform: skew(15deg, 0);
  font-style: italic;
}
.space {
  padding: 0 0.08em;
}
.boxteams,
.boxhometeam,
.boxawayteam {
  background: #ffec00;
}
.boxpoints,
.space {
  background: #1b1918;
}
.boxhomepoints {
  padding-right: 0.8vw;
  border-left: solid 0.1em rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
}
.boxawaypoints {
  padding-left: 0.8vw;
  border-right: solid 0.1em rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
}
.boxawayteam {
  border-right: solid 0.1em rgba(0, 0, 0, 0.5);
}
.boxsets {
  background: #1b1918;
  color: #daa520;
}
.sgrlogo {
  background-size: auto 80% !important;
}
.sgrlogo:before {
  display: none;
}

/*----- GENERIC --------*/
.containergeneric {
  grid-template: auto / 8vw auto minmax(7.5vw, auto) auto minmax(7.5vw, auto) auto;
  float: left;
  width: auto;
  font-size: 3.1vw;
}
.containergeneric .boxawayteam {
  margin-right: 1.5em;
}

/*----- HOCKEY --------*/
.containerhockey {
  grid-template: auto / 7vw auto minmax(7.5vw, auto) auto minmax(7.5vw, auto) auto 12vw auto;
  float: left;
  width: auto;
  font-size: 3vw;
}
.containerhockey .box {
  grid-row: 1/2;
}
.containerhockey .sgrlogo {
  grid-column: 1 / 2;
}
.containerhockey .boxtimer {
  grid-column: 7 / 8;
}
.containerhockey .boxhometeam {
  grid-column: 2 / 3;
}
.containerhockey .boxhomepoints {
  grid-column: 3 / 4;
}
.containerhockey .space {
  grid-column: 4 / 5;
}
.containerhockey .boxawaypoints {
  grid-column: 5 / 6;
}
.containerhockey .boxawayteam {
  grid-column: 6 / 7;
}
.containerhockey .labelmoment {
  grid-row: 1 / 2;
  grid-column: 8 / 9;
}
.containerhockey .boxmoment {
  grid-column: 8 / 9;
  margin-right: 1vw;
}

/*----- RUGBY --------*/
.containerrugby {
  grid-template: auto / 7vw auto minmax(7.5vw, auto) auto minmax(7.5vw, auto) auto 12vw auto;
  float: left;
  width: auto;
  font-size: 3.1vw;
}
.containerrugby .box {
  grid-row: 1/2;
}
.containerrugby .sgrlogo {
  grid-column: 1 / 2;
}
.containerrugby .boxtimer {
  grid-column: 7 / 8;
}
.containerrugby .boxhometeam {
  grid-column: 2 / 3;
}
.containerrugby .boxhomepoints {
  grid-column: 3 / 4;
}
.containerrugby .space {
  grid-column: 4 / 5;
}
.containerrugby .boxawaypoints {
  grid-column: 5 / 6;
}
.containerrugby .boxawayteam {
  grid-column: 6 / 7;
}
.containerrugby .labelmoment {
  grid-row: 1 / 2;
  grid-column: 8 / 9;
}
.containerrugby .boxmoment {
  grid-column: 8 / 9;
  margin-right: 1vw;
}

/*----- SOCCER --------*/
.containersoccer {
  grid-template: auto / 7vw auto minmax(6vw, auto) auto minmax(6vw, auto) auto 12vw auto;
  float: left;
  width: auto;
  font-size: 3.1vw;
}
.containersoccer .box {
  grid-row: 1/2;
}
.containersoccer .sgrlogo {
  grid-column: 1 / 2;
}
.containersoccer .boxtimer {
  grid-column: 7 / 8;
}
.containersoccer .boxhometeam {
  grid-column: 2 / 3;
}
.containersoccer .boxhomepoints {
  grid-column: 3 / 4;
}
.containersoccer .space {
  grid-column: 4 / 5;
}
.containersoccer .boxawaypoints {
  grid-column: 5 / 6;
}
.containersoccer .boxawayteam {
  grid-column: 6 / 7;
}
.containersoccer .labelmoment {
  grid-row: 1 / 2;
  grid-column: 8 / 9;
}
.containersoccer .boxmoment {
  grid-column: 8 / 9;
  margin-right: 1vw;
}

/*----- HANDBALL ------*/
.containerhandball {
  grid-template: auto / 7vw auto minmax(6vw, auto) auto minmax(6vw, auto) auto 12vw auto;
  float: left;
  width: auto;
  font-size: 3.1vw;
}
.containerhandball .box {
  grid-row: 1/2;
}
.containerhandball .sgrlogo {
  grid-column: 1 / 2;
}
.containerhandball .boxtimer {
  grid-column: 7 / 8;
}
.containerhandball .boxhometeam {
  grid-column: 2 / 3;
}
.containerhandball .boxhomepoints {
  grid-column: 3 / 4;
}
.containerhandball .space {
  grid-column: 4 / 5;
}
.containerhandball .boxawaypoints {
  grid-column: 5 / 6;
}
.containerhandball .boxawayteam {
  grid-column: 6 / 7;
}
.containerhandball .labelmoment {
  grid-row: 1 / 2;
  grid-column: 8 / 9;
}
.containerhandball .boxmoment {
  grid-column: 8 / 9;
  margin-right: 1vw;
}

/*----- PINGPONG ------*/
.containerpingpong {
  width: auto;
  float: left;
  grid-template-columns: 15vw 4vw auto minmax(6vw, auto) minmax(13vw, auto);
  font-size: 6.4vw;
}

.containerpingpong .sgrlogo {
  background-size: 90% !important;
}
.containerpingpong .sgrlogo {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
.containerpingpong .boxhometeam {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}
.containerpingpong .boxawayteam {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.containerpingpong .labelpoints {
  display: none;
}
.containerpingpong .labelsets {
  display: none;
}
.containerpingpong .boxhomepoints {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}
.containerpingpong .boxawaypoints {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}
.containerpingpong .boxhomesets {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
.containerpingpong .boxawaysets {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}
.containerpingpong .boxhomeservice {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.containerpingpong .boxawayservice {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.containerpingpong .boxhometeam {
  justify-content: flex-start;
}
.containerpingpong .boxhomepoints {
  padding: 0;
  border-left: solid 0.1em rgba(0, 0, 0, 0.5);
  justify-content: center;
  border-right: none;
}
.containerpingpong .boxawaypoints {
  padding: 0;
  border-left: solid 0.1em rgba(0, 0, 0, 0.5);
  justify-content: center;
  border-right: none;
}
.containerpingpong .boxawayteam {
  border-right: none;
}
.containerpingpong .boxpoints {
  margin-right: 1.4vw;
  padding: 0 0.3em 0 0.1em;
  border-right: solid 0.1em rgba(0, 0, 0, 0.5);
}
.containerpingpong .boxsets {
  padding: 0 0.2em 0 0.05em;
  font-size: 0.8em;
  font-weight: bold;
}

.containerpingpong .boxservice span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-15deg);
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.containerpingpong .okservice {
  background-color: #1476d2;
}

/*----- VOLLEYBALL ------*/
.containervolley {
  width: auto;
  float: left;
  grid-template-columns: 15vw 4vw auto minmax(6vw, auto) minmax(13vw, auto);
  font-size: 6.4vw;
}

.containervolley .sgrlogo {
  background-size: 90% !important;
}
.containervolley .sgrlogo {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
.containervolley .boxhometeam {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}
.containervolley .boxawayteam {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.containervolley .labelpoints {
  display: none;
}
.containervolley .labelsets {
  display: none;
}
.containervolley .boxhomepoints {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}
.containervolley .boxawaypoints {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}
.containervolley .boxhomesets {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
.containervolley .boxawaysets {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}
.containervolley .boxhomeservice {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.containervolley .boxawayservice {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.containervolley .boxhometeam {
  justify-content: flex-start;
}
.containervolley .boxhomepoints {
  padding: 0;
  border-left: solid 0.1em rgba(0, 0, 0, 0.5);
  justify-content: center;
  border-right: none;
}
.containervolley .boxawaypoints {
  padding: 0;
  border-left: solid 0.1em rgba(0, 0, 0, 0.5);
  justify-content: center;
  border-right: none;
}
.containervolley .boxawayteam {
  border-right: none;
}
.containervolley .boxpoints {
  margin-right: 1.4vw;
  padding: 0 0.3em 0 0.1em;
  border-right: solid 0.1em rgba(0, 0, 0, 0.5);
}
.containervolley .boxsets {
  padding: 0 0.2em 0 0.05em;
  font-size: 0.8em;
  font-weight: bold;
}

.containervolley .boxservice span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-15deg);
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.containervolley .okservice {
  background-color: #1476d2;
}

/*----------- TENNIS -------*/
.containertennis {
  width: auto;
  margin-left: 3vw;
  float: left;
  grid-template: auto / auto;
  font-size: 4.5vw;
  overflow: visible;
}
.containertennis .boxteams {
  justify-content: flex-start;
}
/* posizioni */
.containertennis .sgrlogo {
  grid-column: 9/10;
  grid-row: 1/2;
}
.containertennis .boxhomeservice {
  grid-column: 9/10;
  grid-row: 2/3;
}
.containertennis .boxawayservice {
  grid-column: 9/10;
  grid-row: 3/4;
}
.containertennis .boxhometeam {
  grid-column: 1/2;
  grid-row: 2/3;
}
.containertennis .boxawayteam {
  grid-column: 1/2;
  grid-row: 3/4;
}
.containertennis .labelpoints {
  grid-column: 8/9;
  grid-row: 1/2;
}
.containertennis .boxhomepoints {
  grid-column: 8/9;
  grid-row: 2/3;
}
.containertennis .boxawaypoints {
  grid-column: 8/9;
  grid-row: 3/4;
}
.containertennis .labelgames {
  grid-column: 7/8;
  grid-row: 1/2;
}
.containertennis .boxhomegames {
  grid-column: 7/8;
  grid-row: 2/3;
}
.containertennis .boxawaygames {
  grid-column: 7/8;
  grid-row: 3/4;
}

/* posizioni set */
.containertennis .boxoff {
  border: 0;
  padding: 0;
}
.containertennis .boxon {
  border-left: solid 2px var(--linee);
}

.containertennis #set_1_points_1 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.containertennis #set_1_points_2 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.containertennis #set_2_points_1 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.containertennis #set_2_points_2 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.containertennis #set_3_points_1 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.containertennis #set_3_points_2 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.containertennis #set_4_points_1 {
  grid-column: 5/6;
  grid-row: 2/3;
}
.containertennis #set_4_points_2 {
  grid-column: 5/6;
  grid-row: 3/4;
}
.containertennis #set_5_points_1 {
  grid-column: 6/7;
  grid-row: 2/3;
}
.containertennis #set_5_points_2 {
  grid-column: 6/7;
  grid-row: 3/4;
}

.containertennis .boxset {
  background: #1476d2;
}
.containertennis .boxgames,
.containertennis .labelgames {
  background: #0e5598 !important;
}
.containertennis .label {
  background: #1476d2;
  font-size: 0.5em;
  -webkit-transform: skew(15deg, 0) translateX (-2vw);
  transform: skew(15deg, 0) translateX(-2vw);
  font-style: italic;
  justify-content: center;
  text-align: center;
}

.containertennis .boxgames,
.containertennis .boxpoints,
.containertennis .label {
  border-left: solid 0.1em rgba(0, 0, 0, 0.5) !important;
  border-right: 0 !important;
}
.containertennis .boxawayteam {
  border: 0;
}
.containertennis .boxpoints {
  padding: 0 0.3em !important;
  min-width: 7vw;
  justify-content: flex-start;
}

.containertennis .boxon {
  justify-content: flex-start;
  padding: 0 2vw 0 1vw;
  font-size: 0.8em;
}

.containertennis .boxservice {
  transform: skew(0);
}
.containertennis .boxservice span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}
.containertennis .okservice {
  background-color: #0e5598;
}

.containertennis .boxawayteam,
.containertennis .boxawaypoints,
.containertennis .boxawaygames,
.containertennis #set_1_points_2,
.containertennis #set_2_points_2,
.containertennis #set_3_points_2,
.containertennis #set_4_points_2,
.containertennis #set_5_points_2 {
  transform: skew(15deg) translateX(1vw);
}
.containertennis .boxawayservice {
  transform: skew(0) translateX(1vw);
}

/*-------- BASKET --------*/
.containerbasket {
  position: relative;
  float: left;
  width: auto;
  overflow: visible;
  font-size: 3.2vw;
  grid-template: auto minmax(1vw, auto) / 7vw repeat(3, auto) minmax(7vw, auto) auto minmax(
      7vw,
      auto
    ) repeat(3, auto) 10vw auto;
}

.containerbasket .sgrlogo {
  grid-row: 1/2;
  grid-column: 1/2;
}
.containerbasket .boxhometeam {
  grid-row: 1/2;
  grid-column: 2/5;
}
.containerbasket .boxhomepoints {
  grid-row: 1/2;
  grid-column: 5/6;
}
.containerbasket .space {
  grid-row: 1/2;
  grid-column: 6/7;
}
.containerbasket .boxawaypoints {
  grid-row: 1/2;
  grid-column: 7/8;
}
.containerbasket .boxawayteam {
  grid-row: 1/2;
  grid-column: 8/11;
}
.containerbasket .boxtimer {
  grid-row: 1/2;
  grid-column: 11/12;
}
.containerbasket .boxmoment {
  grid-row: 1/2;
  grid-column: 12/13;
}
.containerbasket .boxhomefouls {
  grid-row: 2/3;
  grid-column: 2/3;
}
.containerbasket .boxhometimeouts {
  grid-row: 2/3;
  grid-column: 3/4;
}
.containerbasket .boxhomebonus {
  grid-row: 2/3;
  grid-column: 4/5;
}
.containerbasket .boxawaybonus {
  grid-row: 2/3;
  grid-column: 8/9;
}
.containerbasket .boxawaytimeouts {
  grid-row: 2/3;
  grid-column: 9/10;
}
.containerbasket .boxawayfouls {
  grid-row: 2/3;
  grid-column: 10/11;
}
.containerbasket .boxhomefoulsEU {
  grid-row: 2/3;
  grid-column: 2/5;
}
.containerbasket .boxawayfoulsEU {
  grid-row: 2/3;
  grid-column: 8/11;
}

.containerbasket .boxteams {
  white-space: nowrap;
  padding: 0 2vw;
}
.containerbasket .secondliners {
  background: #3694ec;
  font-size: 0.6em;
  transform: skew(15deg) translateX(1vw);
  border-right: solid 3px rgba(0, 0, 0, 0.3);
  border-left: solid 3px rgba(0, 0, 0, 0.3);
}
/*-labels-*/
.containerbasket .boxtimeouts:before {
  content: "TimeOut:";
  margin-right: 0.3em;
}
.containerbasket .boxfouls:before {
  content: "Fouls:";
  margin-right: 0.5em;
}
.containerbasket .secondliners:before {
  font-size: 0.75em;
}
.containerbasket .boxbonusoff {
  display: none;
}
.containerbasket .boxbonuson {
  background: red;
}
/*-- Versione americana --*/
.containerbasket .secondlinersEUoff {
  display: none !important;
}
/*--- Versione Europea --*/
.containerbasket .secondlinersoff {
  display: none;
}
.containerbasket .boxfoulsEU {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
  min-height: 0.7vw;
  padding: 0;
  transform: skew(15deg) translate(0.7vw, 0.3vw);
}
.containerbasket .boxhomefoulsEU {
  flex-flow: row nowrap;
}
.containerbasket .boxawayfoulsEU {
  flex-flow: row-reverse nowrap;
}

.containerbasket .EUfouls {
  width: calc(80% / 5);
  height: 100%;
  background: yellow;
}
.containerbasket .EUfouls:last-child {
  background: red;
}

/*---------- FOOTBALL --------*/
.containerfootball {
  float: left;
  width: auto;
  overflow: visible;
  grid-template: auto 1vw / 5vw auto minmax(5vw, auto) auto minmax(5vw, auto) auto minmax(
      13vw,
      auto
    ) 8vw 6vw 8vw;
  font-size: 2.6vw;
}

.containerfootball .sgrlogo {
  grid-column: 1/2;
  grid-row: 1/2;
}
.containerfootball .boxhometeam {
  grid-column: 2/3;
  grid-row: 1/2;
}
.containerfootball .boxawayteam {
  grid-column: 6/7;
  grid-row: 1/2;
}
.containerfootball .boxhomepoints {
  grid-column: 3/4;
  grid-row: 1/2;
}
.containerfootball .boxawaypoints {
  grid-column: 5/6;
  grid-row: 1/2;
}
.containerfootball .space {
  grid-column: 4/5;
  grid-row: 1/2;
}
.containerfootball .boxtimer {
  grid-column: 8/9;
  grid-row: 1/2;
}
.containerfootball .boxattempts {
  grid-column: 7/8;
  grid-row: 1/2;
}
.containerfootball .boxmoment {
  grid-column: 9/10;
  grid-row: 1/2;
}
.containerfootball .timeoutshome {
  grid-column: 2/3;
  grid-row: 2/3;
}
.containerfootball .timeoutsaway {
  grid-column: 6/7;
  grid-row: 2/3;
}
.containerfootball .boxfoul {
  grid-column: 10/11;
  grid-row: 1/2;
}

.containerfootball .boxteams {
  white-space: nowrap;
}
.containerfootball .boxattempts {
  background: #1476d2;
  font-size: 0.8em;
}
.containerfootball .boxattempts span {
  padding: 0 0.1em;
  transform: skew(-15deg);
  font-style: normal;
}

.containerfootball .boxfoulon {
  background: yellow;
  color: #333;
}
.containerfootball .boxfoulon:before {
  content: "FLAG";
}
.containerfootball .containertimeouts {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  padding: 0;
  transform: skew(15deg) translate(0.7vw, 0.3vw);
}
.containerfootball .containertimeouts .boxon {
  background: yellow;
}
.containerfootball .boxtimeouts {
  padding: 0;
  width: calc(80% / 3);
  bakground: transparent;
}

/*---------- BASEBALL --------*/
.containerbaseball {
  position: relative;
  float: left;
  width: auto;
  overflow: visible;
  margin-left: 1.5vw;
  font-size: 6.5vw;
}

/* posizione blocchi */
.containerbaseball {
  grid-template: repeat(3, auto) / auto minmax(15vw, auto) minmax(20vw, auto);
}

.containerbaseball .boxawayteam {
  grid-row: 1/2;
}
.containerbaseball .boxhometeam {
  grid-row: 2/3;
}
.containerbaseball .boxhomepoints {
  grid-column: 2/3;
  grid-row: 2/3;
}
.containerbaseball .boxawaypoints {
  grid-column: 2/3;
  grid-row: 1/2;
}
.containerbaseball .containergamedata {
  grid-column: auto/-1;
  grid-row: 1/3;
}
.containerbaseball .containerlastrow {
  grid-column: 1/-1;
  grid-row: auto/-1;
}
.containerbaseball .containerlastrow {
  overflow: visible;
  display: grid;
  grid-template: auto / 10vw auto auto 20vw;
  font-size: 0.8em;
}

/* colori */
.containerbaseball .containergamedata {
  background: #0e5598;
}
.containerbaseball .containerboxstrikes,
.containerbaseball .containerouts {
  background: #0e5598;
  border-right: solid 0.1em rgba(0, 0, 0, 0.3);
}
.containerbaseball .containerbases {
  background: #0e5598;
}
.containerbaseball .containerbases .boxon {
  background: var(--red);
}
.containerbaseball .containerbases .boxbasesoff {
  background: var(--bkggrey);
}

/* elementi */
.containerbaseball .boxpoints {
  padding: 0 0.3em;
  justify-content: center;
}
.containerbaseball .boxteams {
  justify-content: flex-start;
  padding: 0 2vw;
  border: 0;
}
.containerbaseball .containergamedata {
  transform: skew(15deg) translateX(-1.3vw);
  z-index: 1;
}
.containerbaseball .boxpoints {
  z-index: 10;
  border-right: 0;
  border-left: solid 0.1em rgba(0, 0, 0, 0.5);
}
.containerbaseball .boxservice,
.containerbaseball .containerinnings {
  transform: skew(-15deg);
  font-style: normal;
}
.containerbaseball .containerinnings .box {
  transform: skew(0deg);
  font-style: normal;
}
.containerbaseball .boxinnings {
  justify-content: flex-end;
  padding: 0;
  font-size: 0.8em;
}
.containerbaseball .boxinningslabel {
  justify-content: flex-start;
  font-size: 0.8em;
  padding-left: 0.2em !important;
}

.containerbaseball .containergamedata {
  display: grid;
  grid-template: 30% 40% 30% / 100%;
}

/* ----- TRIANGOLOZZI (uso lo span) -------*/
.containerbaseball .boxservice {
  position: relative;
}
.containerbaseball .boxservice span {
  position: absolute;
  width: 50%;
  height: 50%;
}
.containerbaseball .boxhomeservice span {
  clip-path: polygon(50% 10%, 25% 100%, 75% 100%);
}
.containerbaseball .boxawayservice span {
  clip-path: polygon(50% 90%, 25% 0%, 75% 0%);
}

.containerbaseball .okservice {
  background: var(--red);
}
.containerbaseball .noservice {
  background: var(--bkggrey);
}

.containerbaseball .containerlastrow .box {
  align-items: center;
}
.containerbaseball .containerboxstrikes {
  display: flex;
  flex-flow: row nowrap;
  border-right: solid 0.15em rgba(0, 0, 0, 0.3);
}
.containerbaseball .containerboxstrikes .box,
.containerbaseball .containerouts .box {
  padding: 0 0.1em;
  transform: skew(-15deg);
  font-style: normal;
}
.containerbaseball .containerouts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.containerbaseball .containerinnings {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.containerbaseball .containerinnings .boxinnings {
  width: 45%;
  text-align: right;
}
.containerbaseball .containerinnings .boxinningslabel {
  width: 55%;
  padding-left: 1vw;
  text-align: left;
}

.containerbaseball .containerbases {
  position: relative;
  padding: 0;
}
.containerbaseball .boxbases {
  position: absolute;
  width: 2.2vw;
  height: 2.2vw;
  padding: 0;
}
.containerbaseball .boxbases:nth-child(1) {
  left: 50%;
  bottom: 1.8vw;
  transform: translateX(40%) rotate(45deg);
}
.containerbaseball .boxbases:nth-child(2) {
  left: 50%;
  top: 1.8vw;
  transform: translateX(-50%) rotate(45deg);
}
.containerbaseball .boxbases:nth-child(3) {
  left: 50%;
  bottom: 1.8vw;
  transform: translateX(-140%) rotate(45deg);
}

.boxbaseson {
  background: red !important;
}

/*------ BOXE ------*/
.containerboxe {
  font-size: 7vw;
  float: left;
  width: auto;
  overflow: visible;
}
.containerboxe .boxtimer,
.containerboxe .boxmoment,
.containerboxe .boxcalendar {
  font-size: 0.7em;
  white-space: nowrap;
  padding: 0 1vw;
}
.containerboxe .teamcontainer {
  overflow: visible;
}
.containerboxe .boxteams {
  text-align: left;
  white-space: nowrap;
  border: 0 !important;
}
.containerboxe .boxteamname {
  justify-content: flex-start;
}
.containerboxe .boxawayteam {
  border-right: 0;
}

.containerboxe .boxcolor {
  display: flex;
  padding: 0;
}
.containerboxe .fightercolor {
  width: 90%;
  height: 90%;
  border-radius: 0.5vw;
}

.containerboxe .boxoff {
  display: none;
}
.containerboxe .boxon {
  background: #1476d2;
}

/* labels */
.containerboxe .boxmoment:before {
  content: "Rd ";
}
.containerboxe .boxmoment strong {
  font-style: italic;
  padding: 0 1vw;
  margin-left: 0.3vw;
}
.containerboxe .boxcalendar:before {
  content: "Match ";
  margin-right: 1vw;
}

/* posizione */
.containerboxe {
  grid-template: auto / 14vw 16vw repeat(2, 1fr);
}
.containerboxe .teamcontainer {
  width: 100%;
  display: grid;
  grid-template: auto / auto 9vw;
}

.containerboxe .sgrlogo {
  grid-column: 1/ 2;
}
.containerboxe .hometeamcontainer {
  grid-row: 1/2;
  grid-column: 2 / 5;
}
.containerboxe .awayteamcontainer {
  grid-row: 2/3;
  grid-column: 2 / 5;
}
.containerboxe .boxtimer {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: left;
}
.containerboxe .boxmoment {
  grid-row: 3/4;
  grid-column: 3/4;
}
.containerboxe .boxcalendar {
  grid-row: 3/4;
  grid-column: 4/5;
}

/*------- body bkg --*/
body {
  background-color: #f1f1f1;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.02) 100px,
      transparent 0px,
      transparent 200px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.02) 100px,
      transparent 0px,
      transparent 200px
    );
}

.separator:nth-child(1) {
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 3%;
  font-family: arial;
}

.separator {
  font-size: 0.6em;
  width: 100%;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 3%;
  font-family: arial;
}
